*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: rgba(0,0,0,.3);
}

/* Auth */

.auth{
    width: 40%;
    margin: 0 auto;
    text-align: end;
    
        &__header{
            text-align: center;
            color: rgb(71, 68, 68);
    
            & h2{
                font-size: 30px;
                margin: 0;
            }
    
            & a{
                text-decoration: none;
                color:#96D196 ;
            }
        }
    
        &__form{
            & input{
                width: 100%;
                padding: 14px;
                margin: 7px 0;
            }
        }

        &__button{
            padding: 10px 20px;
            background-color:#96D196 ;
            border: 1px solid #78c778;
            color: #fff;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }
    
        fieldset{
            border: 0;
        }
    }