<header>
  <nav class="navbar">
    <a class="logo" [routerLink]="['/']">conduit</a>
    <ul class="navbar__list">
        <li class="navbar__list__item" [routerLink]="['/']">Home</li>
        <ng-container *ngIf="!(isLoggedIn$|async)">
            <li class="navbar__list__item" [routerLink]="['/login']"><a href=""></a> Sign in</li>
            <li class="navbar__list__item"  [routerLink]="['/register']"><a href=""></a> Sign up</li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn$|async">
            <li class="navbar__list__item" [routerLink]="['/article']">New Article</li>
            <li class="navbar__list__item" [routerLink]="['/setting']">Setting</li>
            <li class="navbar__list__item" ><img [src]="(currentUser$ | async)?.image" alt=""></li>
            <li class="navbar__list__item" [routerLink]="['/profile']">{{(currentUser$ | async)?.username}}</li>
        </ng-container>
    </ul>
  </nav>
</header>
